
.top {
	font-size: 50;
	color: #0738c1;
}

p.caption {
	color: #0939bd;
  	text-align: center;
  	font-weight: bold;
  	font-size: 25;
  	margin-top: 40px;
  	margin-bottom: 80px;
  	font:sans-serif;
}

td.bar {
  padding-top:20px;
  padding-bottom:50px;
  padding-left:20px;   
  font:sans-serif;
}

td.bar-first {
	color:blue;
	padding-top:20px;
  	padding-bottom:50px;
  	font:sans-serif;
}

div.first {
	background-image:url("http://csci571.com/hw/hw3/images/Cutlery.png");
	background-attachment:fixed;
	height: 700px;
	width:1150;
	margin-right: 60px;
	font-size:30;
	color:#0738c1;
	position: relative;
}

div.collection {
	position: absolute;
	left:40px;
}

#button {
	font-size: 20px;
	height: 60px;
	width: 130px;
}
p.mid {

	
	font-size:50;
	font:sans-serif;
	color:#0639bf;
}

hr {
	margin-left:-200px;
	height:3px;
}

.last {
	padding-right:20px;
}

img {
	
	border-right: 25px solid #a4e1e9;
}

body {
	margin-left: 60px;

}

.bot {
	position:absolute;
	text-align:center;
}


